[submodule "server"]
	path = server
	url = https://github.com/cse403trackforever/server
	branch = master
[submodule "webapp"]
	path = webapp
	url = https://github.com/cse403trackforever/webapp.git
	branch = master
[submodule "server2"]
	path = server2
	url = https://github.com/cse403trackforever/server2.git
